/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

p {
}

/* Elements
--------------------------------------------- */
ul {
}

ol {
}

dl {
}

figure {
}

table {
}

/* Links
--------------------------------------------- */
a {
}

a:visited {
}

a:hover {
}

a:focus {
}

a:active {
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.section-contents-wrapper {
  margin-left: 15rem;
  margin-right: 15rem;
}

.grid-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 15rem;
  gap: 10px;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

/* Main
--------------------------------------------- */

.grid-foodthumb {
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.grid-foodthumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(80%);
}

.grid-foodthumb figcaption {
  position: absolute;
  z-index: 2;
  color: white;
  left: 5%;
  bottom: 5%;
  font-size: 2rem;
  font-weight: 1000;
}

/* Footer
--------------------------------------------- */

.alterpage {
  width: 90vw;
  height: 100%;
  z-index: 2;
  background-color: blue;
  position: absolute;
  top: 60vh;
  right: -100%;
  transition: right 1s ease;
}

.toggle {
  right: 0;
  transition: right 1s ease;
}

.alterpage-bg {
  background-color: green;
  filter: opacity(0.5);
}
