/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
/* * {
  border: 1px solid grey;
} */

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

nav a {
  font-size: 1.5rem;
}

/* Elements
--------------------------------------------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  color: white;
  z-index: 2;
}

.logo {
  width: 1.5rem;
  margin: 0 1.5rem;
  z-index: 100;
}

.logo img {
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
}

/* Links
--------------------------------------------- */

a {
  text-decoration: none;
  color: white;
}

a:visited {
}

a:hover {
}

a:focus {
}

a:active {
}

.section-links a {
  text-decoration: none;
  font-size: 80%;
  margin: 0 0 0 1px;
  text-align: center;
  text-decoration: none;
  padding: 4px 12px 5px;
  border: 1.5px solid #ffffff;
  border-radius: 15px;
  min-width: 82px;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/* index: home */
.info-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 2.5rem;
}

@media (min-width: 50em) {
  .info-wrapper {
    flex-direction: row;
  }
  .section-info {
    width: 35%;
    margin: 3rem 6rem 3rem 3rem;
  }
  .side-bar {
    width: 22%;
    margin: 3rem 3rem 3rem 6rem;
  }
  .side-bar p {
    width: 90%;
    font-size: 1rem;
  }
  .form {
    width: 75%;
  }
}

footer {
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

/* 2 Mobile ==================== */

nav {
  padding: 0.5rem 0;
}

nav button {
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  border: none;
  z-index: 100;
}

.nav-list-mobile {
  display: none;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000a7;
  z-index: 10;
  color: black;
  line-height: 1;
  margin: 0;
  padding: 3.5rem 1.5rem 1.5rem 1.5rem;
  gap: 1.5rem;
}

.active {
  display: flex;
}

.nav-list-desktop {
  display: none;
}

blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  font-size: 1.5rem;
}

cite {
  padding: 2rem 0;
}

/* 3 Desktop ==================== */
@media (min-width: 50em) {
  .nav-list-mobile,
  nav button {
    display: none;
  }

  .nav-list-desktop {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
  }
  blockquote {
    font-size: 2rem;
    margin: 5rem 0;
  }
}

/* Main
--------------------------------------------- */

.section-title {
  position: relative;
}

.title-wrapper {
  display: flex;
  justify-content: center;
}

h1 a {
  color: black;
}

video {
  width: 160%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid img {
  display: block;
  width: 100%;
}

/* side-bar */

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 0.5rem;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form input,
textarea {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 50px;
}

input[type="submit"] {
  padding: 5px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #4cae4c;
}

/* section link */
.section-links h2 {
  font-size: 2.5rem;
  padding-left: 2rem;
}

.section-links article {
  position: relative;
  width: 100%;
  height: 30rem;
  overflow: hidden;
}

.section-links img {
  display: block;
  position: absolute;
  object-fit: cover;
  z-index: -1;
  filter: brightness(50%);
}

.section-links h3,
.section-links p,
.section-links a {
  margin: 2rem;
  color: white;
}

.section-links h3 {
  margin-top: 6rem;
}

.section-links p {
  width: 80%;
}

@media (min-width: 50em) {
  /* title */
  .title-wrapper {
    position: absolute;
    right: 10rem;
    bottom: 5rem;
    color: white;
    opacity: 50%;
    z-index: 2;
  }

  video {
    width: 100%;
  }

  h1 a {
    color: white;
  }

  /* grid */

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  /* section link */
  .section-links h2 {
    padding: 3rem 0 3rem 9rem;
  }

  .section-links article {
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden;
  }

  .section-links img {
    display: block;
    position: absolute;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    filter: brightness(50%);
  }

  .section-links h3,
  .section-links p,
  .section-links a {
    margin-left: 9rem;
    color: white;
  }

  .section-links h3 {
    margin-top: 10rem;
  }

  .section-links p {
    width: 35rem;
  }
}

/* Footer
--------------------------------------------- */

/* ------------------ Places ------------------ */
